* {
    margin: 0;
    padding: 0;
}
body {
    background: #2e353d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    width: 150px;
    padding: 15px;
    margin: 10px;
    color: white;
    background: #007b32;
    border: none;
    outline: none;
    cursor: pointer;
}

button:hover {
    background: #009641;
}

button:active {
    background: #9cfb02;
    color: black;
}

#game {
    border-collapse: collapse;
    margin: 30px 0;
    min-height: 484px;
}

td {
    width: 20px;
    height: 20px;
    border: 1px solid #eee;
}

.food {
    background: #00d021;
}

.snakeBody {
    background: orange;
}

#message {
    color: orange;
    font-size: 24px;
    text-align: center;
}

.score {
    color: white;
    font-size: 30px;
    font-family: sans-serif;
}

.current {
    font-weight: bold;
    color: orange;
}

.toWin {
    font-size: 1.5em;
    color: #920066;
    font-weight: bold;
}

.controls {
    display: flex;
    gap: 10px;
    align-items: center;
}
.game-controls {
    display: flex;
    flex-direction: column;
}
.move-controls {
    display: none;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.up-down-controls-box {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.move-control {
    color: black;
    background-color: white;
    padding: 10px;
    margin: 0;
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1024px) {
    .move-controls {
        display: flex;
    }
}